# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# local files
/text-ui-test/ACTUAL.TXT
/text-ui-test/EXPECTED-UNIX.TXT
/text-ui-test/EXPECTED.TXT
/text-ui-test/input.txt
/src/test/

# VSCode files
.vscode

# local storage file
src/main/java/temp/output.txt