# IDEA files
/.idea/
/out/
/*.iml

# VSCode files
/.vscode

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

*.db

*.class

/text-ui-test/out
/text-ui-test/out/**

**-UNIX.txt
