#dialogContainer {
    -fx-background-image: url("images/BG.jpg");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
 }

 #dialog {
    -fx-padding: 10;
    -fx-background-radius: 5;
 }

 #displayPicture {
    -fx-border-radius: 50;
 }