/* Style adapted from https://github.com/daongochieu2810/ip/blob/master/src/main/resources/style/dialog.css */
.message {
    -fx-text-alignment: left;
    -fx-background-color: #708090;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-padding: 10;
    -fx-wrap-text: true;
    -fx-text-overrun: clip;
}

.layout {
    -fx-padding: 10.0 10.0 10.0 10.0;
}