/* For the dialog box window */
.dialogLabel{
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: #2c242a;
    -fx-background-padding: 100 200 0 0;
    -fx-padding: 15 25 15 25;
    -fx-background-insets: 0 0 0 0;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(45,36,42,0.8), 10, 0, 0, 0);
    /* top-left, top-right, bottom-right, and bottom-left corners, in that order. */
    /*Padding are in the order of top right bottom and left for java fx */
 }
 .image{
    -fx-effect: dropshadow(three-pass-box, rgba(45,36,42,0.8), 10, 0, 0, 0);
 }
/* For the main screen*/
 .mainWindow{
    -fx-background-color: #68abc4;
 }