.dialogBox {
    -fx-opacity: 80%;
    -fx-background-radius: 2em;
    -fx-min-width: 400px;
    -fx-background-insets: 0px;
}
.dialogLabel {
    -fx-label-padding: 10 15 10 15;
}

.userBox {
    -fx-background-color: #E78895;
}

.dukeBox {
    -fx-background-color: #AC7D88;
}



