#displayPicture {
    /*-fx-effect: dropshadow(gaussian , rgba(0,0,0,0.25) , 10,0,0,1 );*/
    /*-fx-padding: 0px 10px 0px 10px;*/
}

.dialogBox {
    -fx-background-color: #FFFF;
    -fx-min-width: 350px;
    -fx-max-width: 350px;
    -fx-padding: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian , rgba(0,0,0,0.5) , 10,0,0,1 );
}