name: Run Text UI Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "adopt"

      - name: Install dos2unix for runtest.sh
        run: sudo apt-get install -y dos2unix

      - name: Change directory and Run Tests
        run: |
          cd ./text-ui-test
          ./runtest.sh
